html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 19px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

main {
    margin-top: 0px;
}

section {
    margin-bottom: 120px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 25px 0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.6;
    transition: opacity .2s ease;
}
footer:hover {
    opacity: 1.0;
    transition: opacity .2s ease;
}
footer p {
    margin: 0;
}

h3 {
    font-size: 23px;
}

li {
    margin-bottom: 3px;
}

#content {
  margin-top: 0px;
  margin-bottom: 100px;
}

#content img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

header.navbar {
    opacity: 1;
}

#openfn-title:after {
  box-sizing: none;
}

#sidebar {
  margin-top: 15px;
}

#sidebar .text-muted {
    color: #bbbbbb;
}

#navbar-brand {
  color: #000;
  font-size: 26px;
  margin-bottom: 10px;
}

#navbar-brand span {
  border: 2px solid;
  padding: 3px;
  margin-right: 7px;
  margin-left: 3px;
}

.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 40px;
    margin-left: 20px;
}
.navbar .navbar-brand small {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1199px) {
  #sidebar {
    position: relative;
  }


}

@media (min-width: 1200px) {
    #sidebar {
        position: fixed;
    }
}
@media (max-width: 960px) {
    body {
        font-size: 17px;
    }
    pre {
        font-size: 12px;
    }
}

.page-header {
    margin-top: 0;
}

pre {
    padding: 0;
    border-radius: 4px;
    margin: 15px;
    font-size: 15px;
}
pre code {
    border: none;
}

a:hover, a:focus {text-decoration: none;}

/* Styling for TOC */

#toc {
    margin-top: 0px;
    height: 100%;
    background: #fff;
    /* box-shadow: inset -5px 0 5px 0px #000 */
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 7px 10px;
    margin: 10px;
}

#toc li:hover {
  background:#4d94ff;
  /*box-shadow: inset -5px 0px 10px -5px #000;*/
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

#toc li:hover a{color: #fff;}

#toc a {
    color: #4d94ff;
    text-decoration: none;
    display: block;
}

#toc .h1 {
    font-size: 18px !important;
}

#toc .h2 {
    padding-left: 10px;
    font-size: 14px;
}

#toc .h3 {
    padding-left: 20px;
    font-size: 12px;

}

#toc .toc-active {
    background:#4d94ff;
    /*box-shadow: inset -5px 0px 10px -5px #000;*/
}

#toc .toc-active a {color: #fff;}
