html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 70px;
    font-size: 19px;
}

pre {
    padding: 0;
    border-radius: 4px;
    margin: 15px;
    font-size: 15px;
}

pre code {
    border: none;
}

a:hover, a:focus {text-decoration: none;}
