html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 19px;
}

.main{
    margin-bottom: 180px;
    padding-left: 0px !important;
}

h3 {
    font-size: 23px;
}

li {
    margin-bottom: 3px;
}

#content {
  margin-top: 0px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

}

header.navbar {
    opacity: 1;
}

#sidebar {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#sidebar .text-muted {
    color: #bbbbbb;
}

#navbar-brand {
  color: #666666;
  font-size: 26px;
  padding: 15px;
}

#navbar-brand span {
  border: 2px solid;
  padding: 3px;
  margin-right: 7px;
  margin-left: 3px;
}

.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 40px;
    margin-left: 20px;
}
.navbar .navbar-brand small {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

@media only screen and (min-device-width : 120px) and (max-device-width : 1100px) {

}

@media (min-width: 1200px) {
    #sidebar {
        position: fixed;
        margin-left: 0px;
        /* box-shadow: 2px 4px 3px rgba(0,0,0,0.4); */
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #navbar-brand {
      padding-right: 44px;
      width: 100%;
    }
}
@media (max-width: 1200px) {
    body {
        font-size: 17px;
    }
    pre {
        font-size: 12px;
    }
    #sidebar {
      position: relative;
      width: 50%;
    }
    #content {
      margin: 5%;
    }

    #toc h2 { dispaly: none;}
}

@media (max-width: 560px) {
    #sidebar {
      width: 90%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.page-header {
    margin-top: 0;
}

pre {
    padding: 0;
    border-radius: 4px;
    margin: 15px;
    font-size: 15px;
}
pre code {
    border: none;
}

a:hover, a:focus {text-decoration: none;}

/* Styling for TOC */

#toc {
    margin: 0;
    height: 100%;
    background: #fff;
    /* box-shadow: inset -5px 0 5px 0px #000 */
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
  margin-top: 3px;
  margin-bottom: 3px;
}

#toc li:hover {
  background:#4d94ff;
  /*box-shadow: inset -5px 0px 10px -5px #000;*/
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

#toc li:hover a{color: #fff;}

#toc a {
    color: #4d94ff;
    text-decoration: none;
    display: block;
    padding: 10px
}

#toc .h1 {
    font-size: 18px !important;
}

#toc .h2 {
    padding-left: 30px;
    font-size: 14px;
}

#toc .h3 {
    padding-left: 20px;
    font-size: 12px;
}

#toc .toc-active {
    background:#4d94ff;
    /*box-shadow: inset -5px 0px 10px -5px #000;*/
}

#toc .toc-active a {color: #fff;}
