/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap'); */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2196f3;
  --ifm-color-primary-dark: #0d89ec;
  --ifm-color-primary-darker: #0c81df;
  --ifm-color-primary-darkest: #0a6bb7;
  --ifm-color-primary-light: #3ba2f4;
  --ifm-color-primary-lighter: #48a9f5;
  --ifm-color-primary-lightest: #70bbf7;
  --ifm-code-font-size: 95%;
  font-family: 'Roboto';
  /* font-family: 'IBM Plex Sans', sans-serif; */
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.customSearchInput {
  border-radius: 30px;
  margin-left: 30px;
  padding: 4px;
  padding-left: 8px;
  border-color: gray;
  outline: none;
}
